/*
Some Colors -

#F6F6F6 - the white
#000000 - the black
#464646 - the gray overlay
#457360 - green link / highlight color

*/

/* We are going to be starting from mobile first standpoint. It's fun. */

/* body code */

body {
  background-color: #000000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

*.bodywidth {
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-left: auto;
  margin-right: auto;
}

/* header codes */

header {
  color: #F6F6F6;
  background-color: #000000;
  padding: 1%;
}

header h1 {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  margin-top: auto;
}

nav.menu {
  margin: auto;
  padding: 1em;
}

nav a {
  text-decoration: none;
  position: relative;
  color: #F6F6F6;
}

nav a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #F6F6F6;
  transition: 0.6s;
}

nav a:hover:after {
  width: 100%;
}

ul.mainmenu li, ul.footermenu li {
  display: inline;
  padding: 0 3em 0 0;
}

#footermenu {
  background-color: #000000
}
