{% set onscreen = '500' %}
{% extends "_base.html" %}
{% block title %}404{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main class="bodywidth">
    <h6>500 Server Down/Overloaded</h6>
    <h3>:(</h3>
    <p>Oh no! It looks like the server has either crashed or become overloaded. If you are the website administer, please see error log. If you are just a visitor, try again in a few minutes.</p>
    <p>You can exit this page by using any of the links above or by clicking <a href="#" onclick="history.back()">here</a> to go back to the page you were on.
  </main>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
