{% set onscreen = 'home' %}
{% extends "_base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main class="bodywidth">
    <p id="oneLiner"> My name is Colin Daugherty. </p>
    <p> I have been designing and coding various projects now for <span id="timeCoding">9 years</span> years, teaching myself everything that I need to know for a specific project. I am <span id="variableAge">19</span> years old, was homeschooled for most of my schooling, attended University of Louisville for one semester for Computer Science and Engineering through Speed School. I found that they did not offer exactly what I wanted, so I decided to go out on my own and create my own coding projects. Feel free to explore anything on here! All of my code is open source, unless I build something for a client who requests for it to be closed.</p>
  </main>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
